@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
/* srart............. */
/* shard style */
.display-flex{
       display: flex;
}
.header,  .main{
       max-width: 1158px;
       margin: 0 auto;
}
.btn{
       font-size: 1.25rem ;
       font-weight: 600;
       
       border-radius: 12px;
       width: 197px;
       height: 50px;
       color:rgba(255, 255, 255, 1) ;
       margin-bottom: 50px;
}






/* ........................................ */
/* header's navbar related styles */
.navbar{
       justify-content: space-between;
       align-items: center;

}
.logo{
       /* gap: 11px; */

}
.logo-text{
       font-size: 2rem;
       font-weight: 700;
       /* color: aquamarine; */
       margin: 11px;
       
}

.navbar-ul{
       
       
       
}
.tags{
      margin-right: 32px; 
       margin-left: 32px;
       color: chartreuse;
       list-style: none;
       text-decoration: none;


}
.nav-text{
       text-decoration: none;
       font-size: 1.25rem;
       font-weight: 700;       
}
.first{
       color: orange;
}
.second{
       color: skyblue ;
}
.third{
     color:rgba(5, 212, 223, 1) ;  
}
.fourth{
       color:rgba(93, 88, 239, 1) ;
}


.btn-color-orange{
       background-color: orange;
}
/* ................................................................................................. */
/* ...................................................................................... */
/* banner related styles */
.banner-img{
       max-width: 100%;
       margin: 0 auto;
}
.btn-color-black{
       background-color: black;

}
.banner-texts{
       font-size: 1.25rem;
       font-weight: 400;
       color: black;
       align-items: center;
}
.banner-title{
       font-size: 3.5rem;
       font-weight: 700;
       line-height: 61px;
       margin-bottom: 24px;
}
.color-orange{
color: orange;
}
.color-skyblue{
       color: skyblue;
}
.color-blue{
       color:rgba(135, 0, 255, 1);
}
.banner{
       margin-top: 10px;
       align-items: center;
       gap: 50px;
}

/* .................. */


/* ............. */
/* @media quary realated styles */
.stander-section{
       background-image: url(../assets/bg.png);
       text-align: center;
       /* min-widstoriesth: 100%; */
}
.standrd-box{
       gap: 28px;
       margin-bottom: 80px;
       
}
.box-1{
 box-shadow:  0px  0px 28.3px 0.92px rgba(0, 0, 0, 0.05);
 text-align: center;
 padding: 40px;
 border-radius: 16px;
 background-color:rgba(222, 245, 255, 1) ;
 background: linear-gradient(to bottom,rgba(222, 245, 255, 1), rgba(255, 255, 255, 1) );
 
}
.box-2{
       box-shadow:  0px  0px 28.3px 0.92px rgba(0, 0, 0, 0.05);
 text-align: center;
 padding: 40px;
 border-radius: 16px;
 background-color:rgba(255, 244, 220, 1) ;
 background: linear-gradient( to bottom, rgba(255, 244, 220, 1), rgba(255, 255, 255, 1) );

}
.box-3{
       box-shadow:  0px  0px 28.3px 0.92px rgba(0, 0, 0, 0.05);
 text-align: center;
 padding: 40px;
 border-radius: 16px;
 background-color:rgba(242, 232, 255, 1) ;
 background: linear-gradient(to bottom, rgba(242, 232, 255, 1), rgba(255, 255, 255, 1));
}
.stander-title{
       font-size: 1.5rem;
       font-weight: 700;
       color: rgba(32, 32, 32, 1);

}
.stander-text{
       font-size: 1rem;
       font-weight: 500;
       color:rgba(128, 128, 128, 1) ;
}
.standar-titles{
       font-size: 2.9rem; ;
       font-weight: bold;
       color: black;
       margin-bottom: 80px;

}
.main-stander{
       
       text-align: center;
       background: linear-gradient(to top, rgba(254, 192, 81, 1), rgba(255, 255, 255, 1)), url(../assets/bg.png);
       /* background-color: oldlace; */
       background-size:cover ;
       background-blend-mode: overlay;
}






#bbbbtn{
       
       margin: 80px;
       gap: 10px;
       text-align: center;
       align-items: center;

}


#bara{
       display: grid;
       gap: 20px;
       
       /* grid-template-columns: 500px 200px 200px 200px; */
       /* grid-template-columns:repeat(3, 300px) ; */
       /* grid-template-columns: auto 1fr 1fr; */
       grid-template-columns: 1fr 1fr;
}
.item-1 img{
       /* width: 100%; */
}
.item-1{
       background-color: #FFFFFF;
}
.item img{
       /* width: 100%; */
       border-radius: 8px;
       /* height: 100%; */
       /* margin-bottom: 0px; */
       
       
}
.item{
       background-color: #FFFFFF;
       border-radius: 8px;
       height: 301px ;
       /* padding: 10px; */
}
.one-img-btn{
       margin-top: -290px;
       margin-left: -250px;
}
.one-img{
       background-color: rgb(70, 17, 216);
       color: #FFFFFF;
       padding: 9px 19px;
       border-radius: 47px;
       font-size: 1rem;
       /* line-height: 28px; */
       font-weight: 500;
}
.btn-4{
       background-color: rgba(149, 178, 38, 1);
       color: #FFFFFF;
       padding: 9px 19px;
       border-radius: 47px;
       font-size: 1rem;
       /* line-height: 28px; */
       font-weight: 500;
       /* width: 100%; */
}
.btn-4-btn{
       margin-top: -155px;
       margin-left: -90px;
}
.img-title{
       background-color: #FFFFFF;
       padding: 23px 54px 33px 37px ;
}
.one-img-title{
       background-color: #FFFFFF;
       /* padding: 30px; */
       margin-top: 0px;
       margin-bottom: 0px;
       padding-bottom: 0px;
       font-size: 1.5rem;
       font-weight: 700;
       line-height: 38px;
       text-align: start;
       padding: 38px;
       /* width: 100%; */

}

.story-text{
       background-color: #FFFFFF;
       padding: 0px 68px 38px 36px;
       text-align: start;
       margin-top: 0px;
}

.cim{
       gap: 20px;
       margin-bottom: 40px;
}






/* ........................footr... */
footer{
       background-color:rgba(1, 172, 253, 1) ;
       /* margin-top: 50px; */
       /* margin-bottom: 179px; */
       /* padding-bottom: 179px; */
       /* padding: 150px; */
       
       
}
.f-1{
       
}
.last{
       max-width: 1158px;
       margin: 0 auto;
       justify-content: space-between;
       align-items: start;
       /* margin-top: 179px; */
       padding-top: 100px;
       padding-bottom: 179px;
       
}
.titlle{
       font-size: 1.5rem;
       font-weight: 700;
       color: #FFFFFF;
}
.last-title{
font-size: 2.75rem;
font-weight: 700 ;
color: #FFFFFF;
/* margin-bottom: 0%; */
}
.na{
       list-style: none;
       text-decoration: none;
       font-size: 1.25rem ;
font-weight: 500;
color: #FFFFFF;
/* margin-bottom: 0%; */
/* margin-left: 0%; */
}
.flex{
       align-items: center;
       margin-bottom: 0px;
       gap: 10px;
}
.tagss{
       list-style: none;
       text-decoration: none;
       align-items: start;
}
.oohoo{
       align-items: start;
       /* margin: 0%; */
}
.last-img{
       background-color: #FFFFFF;
       
}
.navv{
       display: none;
}
.nav-img{
       width: 100%;
       /* height: 100%; */
}































@media screen and ( max-width: 576px) {
       .navbar{
/* flex-direction: column; */
border-bottom: 2px solid orange;

/* background-image: url(../assets/4572821-200.png); */
.navv{
       display: block;
}
       }
       

       .banner{
              flex-direction: column-reverse;
       }
       .banner-text{
              text-align: center;
       }
       
       .stander-section{
              .standrd-box{
                     flex-direction: column;
                     gap: 10px;
              }
              .standar-titles{
                     margin-bottom: 10px;
                     margin-top: 10px;
              }
       }
.overall-div{
       flex-direction: column;
       .one-img0{
display: none;
       }

.overall-div2{
       display: grid;
       grid-template-columns: repeat( 2, 1fr );
       gap: 10px;
       /* margin-bottom: 200px; */
       /* padding: 200px; */
}

}
.last{
       flex-direction: column;
}
.arrow{
       display: none;
}
.logo-text, .tags, .btn-color-orange{
       display: none;
}
.img-1, .img-2, .img-3, .img-4{
       box-shadow:  0px  0px 28.3px 0.92px rgba(0, 0, 0, 0.05);
       border-radius: 16px;
       height: 301px;
       width: 253px;
       background-color: #FFFFFF;
}
.im1, .im2 , .im3, .im4{
       max-width: 253px;

}
.item-1{
       display: none;
}
.item img{
       width: 100%;
       margin: 0 auto;
}
.btn-4{
       background-color: rgba(149, 178, 38, 1);
       color: #FFFFFF;
       /* padding: 9px 19px; */
       border-radius: 47px;
       font-size: 1rem;
       /* line-height: 28px; */
       font-weight: 500;
}
.btn-4-btn{
       margin-top: -190px;
       margin-right: -90px;

}











}